<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.powerTree.PowerTreeMapper">

    <!--
        标签：
        insert：增
        delete：删
        update：改
        select：查

        属性：
        id：该标签唯一标识，要和绑定的mapper类中的方法名一一对应
        parameterType：参数类型，接收参数时使用
        resultType：返回值类型，查询时使用

        resultMap：
        parameterMap：
     -->

	<!-- 菜单树 -->
	<!--<select id="getNode" parameterType="string" resultType="com.jk.model.power.PowerTree" >
		/*select id,name as text, url as href ,pid from t_nav where pid = #{value}*/
		 select  id ,  text , url as href ,pid from t_powertree
			where pid = #{id,jdbcType=VARCHAR}
	</select>-->

    <!--<select id="getParent" resultType="com.jk.model.power.PowerTree" parameterType="int">
		  select tp.id AS id , tp.text as text , tp.url as href ,
			tp.pid as pid
			 from t_powertree tp
			where tp.id = #{pid}
	</select>-->
	<!--<select id="getUserPowerChildrenList" resultType="com.jk.model.power.PowerTree" parameterType="String">
		select DISTINCT tp.id as id  , tp.text as text , tp.url as href ,tp.pid as pid from t_powertree tp
		LEFT JOIN  role_power rp on rp.pid  = tp.id
		LEFT JOIN t_role  tr on tr. rid  = rp.rid
		LEFT JOIN t_nexus tn on tr.rid  = tn.rid
		where  tn.uid = #{userId}


	</select>-->


    <!--<select id="getUserPowerUrlListByUserId" resultType="string" parameterType="string">-->
    <!--select distinct tt.url from t_tree tt-->
    <!--left join t_role_tree trt on trt.tree_id = tt.id-->
    <!--left join t_role tr on tr.id = trt.role_id-->
    <!--left join t_user_role tur on tr.id = tur.role_id-->
    <!--where tur.employ_id = #{employId} and tt.url is not null-->
    <!--union all-->
    <!--select distinct tm.url from t_menu tm-->
    <!--left join t_tree tt on tt.id = tm.tree_id-->
    <!--left join t_role_tree trt on trt.role_id = tt.id-->
    <!--left join t_role tr on tr.id = trt.role_id-->
    <!--left join t_user_role tur on tr.id = tur.role_id-->
    <!--where tur.employ_id = #{employId} and tm.url is not null-->
    <!--</select>-->



</mapper>
